<!-- Navbar -->

{% include sidebar.html %}
{% block SidebarItems %}
<li class="sidebar-label">General</li>

<li class="sidebar-item unique">
    <a href="statement">Statement</a>
</li>
<li class="sidebar-item unique">
    <a href="submissions">Submissions</a>
</li>
<li class="sidebar-item unique">
    <a href="comments">Comments</a>

    <ul>
            <li><a href="/contest/FIICode/">FIICode</a></li>
            <li><a href="/contest/Mindcoding/">Mindcoding</a></li>
            <li><a href="/contest">Show all</a></li>
            <li><a href="/contest/create">Create new contest</a></li>
        </ul>
</li>
<li class="sidebar-item unique">
    <a href="editorial">Editorial</a>
</li>
{% end %}