<!-- Navbar -->

{% include sidebar.html %}
{% block SidebarItems %}
<li class="sidebar-label">General</li>

<li class="sidebar-item unique">
    <a href="profile">Profile</a>
</li>
<li class="sidebar-item unique">
    <a href="settings">Settings</a>
</li>
<li class="sidebar-item unique">
    <a href="user_submissions">Submissions</a>
</li>
<li class="sidebar-item unique">
    <a href="contests">Contests</a>
</li>
<li class="sidebar-item unique">
    <a href="statistics">Statistics</a>
</li>
{% end %}
