html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #3e454c;
  background-color: #ffffff;
}


.main-content {
    padding-top: 35px;
    padding-left: 3vh;
}

p {
    font-size: 1.5rem;
    margin: auto;
    padding-top: 5px;
}

.subitem {
    font-style: bold;
}

.navbar-login {
    color: #1c1f22;
}

.navbar-login {
    color: #1c1f22;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #ffffff;
}

.table-filter {
	background-color: #fff;
	border-bottom: 1px solid #eee;
}
.table-filter tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
}
.table-filter tbody tr td {
	padding: 10px;
	vertical-align: middle;
	border-top-color: #eee;
}
.table-filter tbody tr.selected td {
	background-color: #eee;
}

.modal-body{
    margin-left: 10px;
    margin-right: 10px;
}