.helper-text {
    margin-left:25px;
}

.answer {
    margin-left:10px;
}

.reply-box {
    width:100% !important;
}

.contest-create-input-custom {
    margin-left: 20px;
}

.announcement-name-custom {
    white-space:nowrap;
}