{% extends "base.html" %}
{% block Imports %}
<link rel="stylesheet" href="{{ static_url('css/main.css') }}"/>
{% end %}

{% block Body %}
{% include fragments/navbar.html %}

<div class="container">
    <h2>Problem Archive</h2>
    <p>Solve offline to train your skills!</p>
    <table class="table table-hover table-responsive">
        <thread>
            <tr>
                <th>Name</th>
                <th>Problem ID</th>
                <th>Tags</th>
                <th>Difficulty</th>
            </tr>
        </thread>
        <tbody>
            {% include fragments/problemEntry.html %}
            {% include fragments/problemEntry.html %}
            {% include fragments/problemEntry.html %}
        </tbody>

    </table>

</div>
{% end %}
