<!-- Copyright © 2017 Alexandru Miron <mironalex96@gmail.com> -->


<!DOCTYPE html>
<html>
  <head>
    <title>MLC! MLC! MLC!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="{{ static_url("js/jquery-3.1.1.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/bootstrap.min.js") }}"></script>
    <link rel="stylesheet" href="{{ static_url("css/bootstrap.min.css") }}"/>
      {% block Imports %}
      {% end %}
  </head>
  <body class="container-fluid">
    {% block Body %}
    {% end %}
  </body>
</html>
