<!DOCTYPE html>
<html>
  <head>
    <title>MLC! MLC! MLC!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="{{ static_url("js/jquery-3.1.1.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/bootstrap.min.js") }}"></script>
    <link rel="stylesheet" href="{{ static_url("css/bootstrap.min.css") }}"/>
      {% block Imports %}
      {% end %}
  </head>
  <nav class="navbar navbar-inverse navbar-fixed-top" id="top-navigation-bar" style="border-top: solid 1px #1d23cb;">
      <div class="container-fluid" id="navbar-motto" style="padding-top: 10px">
        <p style="color:#ffffff;">MLC: M*** la comisie/concurenti since 2017</p>
      </div>
  </nav>
  <body class="container-fluid">
    {% block Body %}
    {% end %}
  </body>
</html>
