<!DOCTYPE html>
<html>
  <head>
    <title>MLC! MLC! MLC!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="{{ static_url('js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/sidebar.js') }}"></script>
      <script type="text/javascript" src="{{ static_url('js/clickable-row.js') }}"></script>
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/nav.css') }}"/>
      <link rel="stylesheet" href="{{ static_url('css/base.css') }}"/>
      {% block Imports %}
      {% end %}
  </head>
  <body class="container-fluid">
    <div class="row base-body-custom"> <!-- TO DO: create custom class instead of style -->
        {% include fragments/navbar.html %}
    </div>
    <div class="row">
        {% include fragments/sidebar.html %}
        <div class="conteudo container-fluid">
            {% block Body %}
            {% end %}
        </div>
    </div>
  </body>
</html>
