{% extends "base.html" %}
{% block Imports %}

<link rel="stylesheet" href="{{ static_url("css/comments.css") }}"/>

{% end %}

{% block Body %}
{% include fragments/problem_navbar.html %}

<h2>Welcome</h2>
<h2>This is the comments page for problem {{ problem_id }}!</h2>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="page-header">
                <h1><small class="pull-right">45 comments</small> Comments </h1>
            </div>
            <div class="media-list">
                <!-- comment 1 -->
                <div class="media">
                    <p class="pull-right"><small>5 days ago</small></p>
                    <a class="media-left pull-left" href="#">
                        <img src="http://lorempixel.com/40/40/people/1/">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading user_name">Baltej Singh</h4>
                        Wow! this is really great.
                        <p><small><a href="#">Add comment</a> - <a href="#">Show comments(0)</a> </small></p>

                        <div class="media">
                            <p class="pull-right"><small>5 days ago</small></p>
                            <a class="media-left pull-left" href="#">
                                <img src="http://lorempixel.com/40/40/people/1/">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading user_name">Baltej Singh</h4>
                                Wow! this is really great.
                                <p><small><a href="#">Add comment</a> - <a href="#">Show comments(0)</a> </small></p>
                            </div>
                        </div>

                    </div>



               </div>
                <!-- comment 2 -->
                <div class="media">
                    <p class="pull-right"><small>5 days ago</small></p>
                    <a class="media-left pull-left" href="#">
                        <img src="http://lorempixel.com/40/40/people/1/">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading user_name">Valentin Rosca</h4>
                        How the fuck do you solve this shit???
                        <p><small><a href="#">Add comment</a> - <a href="#">Show comments(0)</a> </small></p>
                    </div>
               </div>
           </div>
        </div>
    </div>
</div>
{% end %}
