{% extends "contest.html %}
{% block Imports %}
<link rel="stylesheet" href="{{ static_url("css/contest_problems.css") }}/>
{% end %}

{% block Body %}
    <div class="col-xs-12 col-sm-7 col-sm-offset-1">
        <h2>Contest {{ contest_id }}</h2>
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Your Status</th>
                    <th>Total Submissions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>A</td>
                    <td>
                        <a href="/problem/a+b">A+B</a>
                    </td>
                    <td>TLE</td>
                    <td>14871</td>
                </tr>
                <tr>
                    <td>B</td>
                    <td>
                        <a href="/problem/gcd">GCD</a>
                    </td>
                    <td>Wrong Answer on test 1</td>
                    <td>124</td>
                </tr>
                <tr>
                    <td>C</td>
                    <td>
                        <a href="/problem/lee-labirinth">Lee's Labirinth of Doom</a>
                    </td>
                    <td>Accepted</td>
                    <td>51</td>
                </tr>
                <tr>
                    <td>D</td>
                    <td>
                        <a href="/problem/vali-tractor">Vali's Tractor</a>
                    </td>
                    <td>0 / Tractor</td>
                    <td>-1337</td>
                </tr>
            </tbody>
        </table>
    </div>

 
    <div class="col-xs-12 col-sm-4">
        <div class="container-fluid" id="countdown">
            <h3>Time Remaining:</h3>
            <h4>01:31:45</h4>
        </div>

        <div class="
    </div>


{% end %}
