{% extends "contest.html" %}
{% block Imports %}
<link rel="stylesheet" href="{{ static_url("css/contest_problemsv.css") }}"/>
<script type="text/javascript" src="{{ static_url('js/contest.js') }}"></script>
{% end %}
{% block Body %}

<div class="container">
    <form method="POST" action="/contest/{{ contest_id }}/settingsv">
        <div class="row">
            <h2>Contest configuration</h2>
            <hr />
        </div>

        <div class="row"><h4 class="subtitle">Contest information</h4></div>
        <br />
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 helper-text">
                <p>Name</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">
                <input type="text" class="form-control input-sm" name="contest_name" value="{{ contest_name }}">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 helper-text">
                <p>Description</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">
                <input type="text" class="form-control input-sm" name="contest_description" value="{{ contest_description }}">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 helper-text">
                <p>Contest type</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">
                <select name="contest_type">
                    <option value="1">Open</option>
                    <option value="2">Public</option>
                    <option value="3">Private</option>
                    <option selected="selected">{{ contest_type }}</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 helper-text">
                <p>Submission download allowed</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">
                <input type="checkbox" name="contest_allow_download" {{ allow_download }}>
            </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 helper-text">
              <p>Allow questions</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">
              <input type="checkbox" name="contest_allow_questions" {{ allow_questions }}>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 helper-text">
              <p>Allow user tests</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">
              <input type="checkbox" name="contest_allow_usertest" {{ allow_usertest }}>
          </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 helper-text">
                <p>Allowed IP</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">
                <input type="text" class="form-control input-sm" name="contest_restricted_ip" value="{{ restricted_ip }}">
            </div>
        </div>

        <label>Start date:</label>
        <div class="form-group">
            <div class='input-group date' id='contest_start_time'>
                <input type='text' name="contest_start_time" class="form-control datetimepicker" style="overflow:visible;" value="{{ start_time }}"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>

        <label>End date:</label>
        <div class="form-group">
            <div class='input-group date' id='contest_end_time'>
                <input type='text' name="contest_end_time" class="form-control datetimepicker" style="overflow:visible;" value="{{ end_time }}"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 helper-text">
                <p>Contest Max Submissions</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">
                <input default="100" type="number" class="form-control input-sm" name="contest_max_submissions" value="{{ max_submissions }}">
            </div>
        </div>

         <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 helper-text">
                <p>Contest Max User Tests</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">
                <input default="100" type="number" class="form-control input-sm" name="contest_max_user_tests" value="{{ max_user_tests }}">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 helper-text">
                <p>Contest Consecutive Submission Delay</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">
                <input default="5" type="number" class="form-control input-sm" name="contest_min_submission_interval" value="{{ submission_delay }}">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 helper-text">
                <p>Contest Consecutive User Test Delay</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">
                <input default="5" type="number" class="form-control input-sm" name="contest_min_user_test_interval" value="{{ user_test_delay }}">
            </div>
        </div>

        <input type="submit" class="form-control">

    </form>
</div>

{% end %}