{% extends "base.html" %}
{% block Imports %}
<link rel="stylesheet" href="{{ static_url('css/contest_list.css') }}"/>
{% end %}

{% block Body %}
{% include fragments/navbar.html %}

<div class="container">
    <h2>Upcomming Contest List</h2>
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Contest ID</th>
                <th>Authors</th>
                <th>Start Date</th>
                <th>Length</th>
            </tr>
        </head>
        <tbody>
            {% include fragments/contestEntry.html %}
            {% include fragments/contestEntry.html %}
            {% include fragments/contestEntry.html %}
            {% include fragments/contestEntry.html %}
        </tbody>
    </table>
    <h2>Contest Backlog</h2>
    <table class="table table-responsive table-filter">
        <thread>
            <tr>
                <th>Name</th>
                <th>Contest ID</th>
                <th>Authors</th>
                <th>Start Date</th>
                <th>Length</th>
            </tr>
        </thread>
        <tbody>
            {% include fragments/contestEntry.html %}
            {% include fragments/contestEntry.html %}
            {% include fragments/contestEntry.html %}
            {% include fragments/contestEntry.html %}
        </tbody>
    </table>
</div>

{% end %}

