{% extends "base.html" %}
{% block Imports %}
<link rel="stylesheet" href="{{ static_url("css/contest_createv.css") }}"/>
<script type="text/javascript" src="{{ static_url('js/contest.js') }}"></script>
{% end %}

{% block Body %}
<div class="container">
    <div class="row">
        <h2>Create a new virtual contest</h2>
        <hr />
    </div>

    <div class="row">
        <form method="POST" action="/contest/createv" class="form-inline">
            <label for="name">Contest name: </label>
            <input id="name" type="text" name="contest_name" class="form-control input-sm contest-create-input-custom">

            <label>Start date:</label>
            <div class="form-group">
                <div class='input-group date' id='start_time'>
                    <input type='text' name="start_date" class="form-control datetimepicker" style="overflow:visible;" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <label>End date:</label>
            <div class="form-group">
                <div class='input-group date' id='end_time'>
                    <input type='text' name="end_date" class="form-control datetimepicker" style="overflow:visible;" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <hr />

            <input type="submit" class="form-control">
        </form>
    </div>
</div>

{% end %}
