{% extends "contest.html" %}
{% block Imports %}
<link rel="stylesheet" href="{{ static_url("css/contest_problems.css") }}"/>
<link rel="stylesheet" href="{{ static_url('css/submissions.css') }}" />
{% end %}

{% block Body %}
    <div class="col-xs-12 col-sm-7 col-sm-offset-1">
        <h2>Contest {{ contest_name }}</h2>

        <h3>Problems:</h3>
        <table class="table table-filter table-responsive">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Difficulty</th>
                </tr>
            </thead>
            <tbody>
                {% set letter = 'A' %}
                {% for problem in problems %}
                <tr>
                    <td>{{ letter }}</td>
                    <td>
                        <a href="/problem/{{ problem.name }}?contest_id={{ contest_id }}">{{ problem.name }}</a>
                    </td>
                    <td>{{ problem.description }}</td>
                    <td>{{ problem.difficulty }}</td>
                </tr>
                    {% set letter = chr(ord(letter) + 1) %}
                {% end %}
            </tbody>
        </table>
    </div>

 
{#    <div class="col-xs-12 col-sm-4">#}
{#        <div class="container-fluid">#}
{#            <div class="side-box" id="countdown">#}
{#                <h3>Time Remaining:</h3>#}
{#                <h4>01:31:45</h4>#}
{#            </div>#}
{#            <div class="side-box" id="rank">#}
{#                <h3>Your current rank:</h3>#}
{#                    <h4>23 / 5378</h4>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}


{% end %}
