{% extends "base.html" %}
{% block Imports %}
<link rel="stylesheet" href="{{ static_url("css/main.css") }}"/>
<script type="text/javascript" src="{{ static_url("js/common/marked.min.js") }}"></script>
{% end %}

{% include fragments/main_sidebar.html %}

{% block Body %}
<div class="container" id="main-content">
    <div class="row">

        <!--Elo Rating Ranking-->
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0">
            <div class="side-info">
                <div class="panel panel-primary">
                    <div class="panel-heading filter-heading" data-toggle="collapse" data-target="#leaderboard-data">
                        Leaderboard
                        <!-- FIXME: Create class instead of inline style-->
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </div>
                    <div id="leaderboard-data" class="panel-body panel-collapse collapse in">
                        <table class="table table-responsive table-filter">
                            <thead>
                                <tr>
                                    <td>#</td>
                                    <td>Name</td>
                                    <td>Rating</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% set rank=1 %}
                                {% for user in most_rated_users %}
                                    <tr>
                                        <td>{{ rank }}</td>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.rating }}</td>
                                    </tr>
                                    {% set rank=rank+1 %}
                                {% end %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Blog Posts -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {% if recent_blog_posts is None or len(recent_blog_posts) == 0 %}
                <h2 style='overflow-wrap: break-word;'>Sorry there are no blog posts to show :(</h2>
            {% else %}
            <div class="panel-group">
                <div class="blog-posts">
                    {% for post in recent_blog_posts %}
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <!-- FIXME: Inline style -->
                                <h3 style="display: inline-block">{{ post.title }}</h3>
                                <p style="display: inline-block; float: right;">Posted by {{ post.username }} on {{ post.created_at }}</p>
                            </div>

                            <div class="panel-body">
                                <div id="{{ post.id }}">

                                </div>
                                <script>
                                    document.getElementById('{{ post.id }}').innerHTML = marked('{{ post.body }}');
                                </script>
                            </div>
                        </div>
                    {% end %}

                    <div class="blog-pagination">
                    </div>
                </div>
            </div>
            {% end %}
        </div>
    </div>
</div>
{% end %}

