{% extends "problem.html" %}
{% block Imports %}
<link rel="stylesheet" href="{{ static_url("css/statement.css") }}"/>
{% end %}

{% block Body %}

<h2>Welcome</h2>
<h2>This is the statement page for problem {{ problem_id }}!</h2>

<div class="row display-flex">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 statement">
        <h1>Problem statement</h1>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
    </div>
    <div class="vr"></div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <h1>Editor</h1>
        <div class="form-group">
            <textarea class="form-control" rows="20" id="code" placeholder="Paste your code here!"></textarea>
            <input type="submit" class="btn btn-info" value="Submit Code">
        </div>
    </div>
</div>
{% end %}
