statement.html{% extends "problem.html" %}
{% block Imports %}

<link rel="stylesheet" href="{{ static_url("css/submissions.css") }}"/>

{% end %}

{% block Body %}

<h2>Welcome</h2>
<h2>This is the submissions page for problem {{ problem_id }}!</h2>

<div class="row">
    <div class="col-xs-12">
        <table class="table table-filter table-responsive">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>User</th>
                    <th>Problem</th>
                    <th>Language</th>
                    <th>Status</th>
                    <th>Time</th>
                    <th>Memory</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
						<a data-toggle="modal" href="#submission-modal">15234</a>
					</td>
                    <td>2017-04-23 04:20:12</td>
                    <td>valiro21</td>
                    <td>
                        <a href="/problem/{{ problem_id }}">{{ problem_id }}</a>
                    </td>
                    <td>GNU C++11</td>
                    <td>
                        <span class="accepted">Accepted</span>
                    </td>
                    <td>100 ms</td>
                    <td>100 KB</td>
                </tr>
            </tbody>
			<tbody>
                <tr>
                    <td>
						<a data-toggle="modal" href="#submission-modal">1241</a>
					</td>
                    <td>2017-04-23 02:21:12</td>
                    <td>cosmin</td>
                    <td>
                        <a href="/problem/{{ problem_id }}">{{ problem_id }}</a>
                    </td>
                    <td>GNU C++11</td>
                    <td>
                        <span class="accepted">Accepted</span>
                    </td>
                    <td>100 ms</td>
                    <td>100 KB</td>
                </tr>
            </tbody>
			<tbody>
                <tr>
                    <td>
						<a data-toggle="modal" href="#submission-modal">123541</a>
					</td>
                    <td>2017-04-23 01:21:12</td>
                    <td>Alex</td>
                    <td>
                        <a href="/problem/{{ problem_id }}">{{ problem_id }}</a>
                    </td>
                    <td>Python</td>
                    <td>
                        <span class="rejected">Wrong Answer on Test 15</span>
                    </td>
                    <td>1050 ms</td>
                    <td>1010 KB</td>
                </tr>
            </tbody>
			<tbody>
                <tr>
                    <td>
						<a data-toggle="modal" href="#submission-modal">1241461</a>
					</td>
                    <td>2017-04-23 00:21:12</td>
                    <td>netedu_andrei</td>
                    <td>
                        <a href="/problem/{{ problem_id }}">{{ problem_id }}</a>
                    </td>
                    <td>Java</td>
                    <td>
                        <span class="rejected">Time Limit Exceeded on Test 20</span>
                    </td>
                    <td>104150 ms</td>
                    <td>1241 KB</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div id="submission-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Submission #1123</h4>
      </div>
      <div class="modal-body">
          <!-- Source code -->
          <pre class="pre-scrollable">
              <code>
                  include, text
                  code here
                  haha
                  text
              </code>
          </pre>

          <!-- Tests -->
          <table class="table table-bordered">
              <thead>
                <tr>
                    <th>Test</th>
                    <th>Result</th>
                    <th>Time taken</th>
                    <th>Memory used</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                    <td>1</td>
                    <td>Success</td>
                    <td>0.1s</td>
                    <td>10 MB</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Success</td>
                    <td>0.1s</td>
                    <td>10 MB</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>FAILURE</td>
                    <td>1.001s</td>
                    <td>100 MB</td>
                </tr>
            </tbody>
          </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
{% end %}
