{% extends "user.html" %}
{% block Imports %}
<link rel="stylesheet" href="{{ static_url("css/profile.css") }}"/>
<link rel="stylesheet" href="{{ static_url("css/user_general.css") }}"/>
{% end %}

{% block Body %}

<div class = "container-fluid profile user_table">
    <h1 class = "username user_title">{{ user_id }}<span class="badge badge-default badge-rank">Grand Master</span></h1>
    <div class = "personal-information">
        <div>
            <span>Real Name:</span>
            <span>{{ user_id }}</span>
        </div>
        <div>
            <span>Location:</span>
            <span>Romania, Iasi</span>
        </div>
        <div>
            <span>Email:</span>
            <span>Hidden</span>
        </div>
    </div>
    <div class = "onsite-information">
        <div>
            <span>User type:</span>
            <span>Normal</span>
        </div>
        <div>
            <span>Contest Rating:</span>
            <span>2567</span>
        </div>
        <div>
            <span>Number of contest:</span>
            <span>15</span>
        </div>
        <div>
            <span>Archive Solved:</span>
            <span>99</span>
        </div>
        <div>
            <span>Year Joined:</span>
            <span>2018</span>
        </div>
    </div>

</div>

{% end %}
