{% extends base.html %}

{% block Imports %}
<link rel="stylesheet" href="{{ static_url("css/reset_password.css") }}"/>
<script type="text/javascript" src="{{ static_url('js/reset_password.js') }}"></script>
{% end %}

{% block Body %}
<div class="container-fluid">
    <div class="form-body col-sm-4 col-sm-offset-4">
        <form class="form" role="form" method="post" action="" accept-charset="UTF-8" id="reset-form">
            <div class="row">
                <div class="form-group">
                    <input type="text" name="token" id="token" class="form-control input-sm" placeholder="Reset token" value={{ token }}>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <input type="password" name="reset_password" id="reset_password" class="form-control input-sm" placeholder="New password">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <input type="password" name="reset_password_confirm" id="reset_password_confirm" class="form-control input-sm" placeholder="Confirm New password">
                </div>
            </div>
            <input type="submit" value="Change password" class="btn btn-info btn-block" id="btn-submit">
        </form>
        <div id="reset_status"></div>
    </div>
</div>
{% end %}