{% extends base.html %}

{% block Body %}
<div class="form-body col-lg-6">
    <form class="form" role="form" method="post" action="/recovery/reset_password" accept-charset="UTF-8" id="reset-form">
        <div class="row">
            <div class="form-group">
                <input type="text" name="token" id="token" class="form-control input-sm" placeholder="Reset token" value={{ token }}>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <input type="password" name="password" id="password" class="form-control input-sm" placeholder="New password">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <input type="password" name="password_confirm" id="password_confirm" class="form-control input-sm" placeholder="Confirm New password">
            </div>
        </div>
        <input type="submit" value="Change password" class="btn btn-info btn-block" id="btn-submit">
    </form>
</div>
{% end %}