{% extends base.html %}

{% block Body %}
<div class="form-body col-lg-6">
    <form role="form" action="/recovery/" method="POST" id="reset-form">
        <div class="row">
            <div class="form-group">
                <input type="text" name="token" id="token" class="form-control input-sm" placeholder="Reset token" value={{ token }}>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <input type="password" name="password" id="password" class="form-control input-sm" placeholder="New password">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <input type="password" name="confirm_password" id="confirm_password" class="form-control input-sm" placeholder="Confirm New password">
            </div>
        </div>
        <input type="submit" value="Change password" class="btn btn-info btn-block" id="btn-submit">
    </form>
</div>
{% end %}