statement.html{% extends "base.html" %}
{% block Imports %}

<!-- <link rel="stylesheet" href="{{ static_url("css/statement.css") }}"/> -->

{% end %}

{% block Body %}
{% include fragments/problem_navbar.html %}

<h2>Welcome</h2>
<h2>This is the submissions page for problem {{ problem_id }}!</h2>

<div class="row">
    <table class="table col-xs-12">
        <thead>
            <tr>
                <th>Submission ID</th>
                <th>User</th>
                <th>Problem name</th>
                <th>Language</th>
                <th>Date and time</th>
                <th>Score</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>15234</td>
                <td>1123</td>
                <td>First problem</td>
                <td>C++</td>
                <td>Today</td>
                <td>100 million points</td>
            </tr>
        </tbody>
</table>
</div>
{% end %}
