{% extends "base.html" %}
{% block Imports %}
<link rel="stylesheet" href="{{ static_url('css/submissions.css') }}" />
<script type="text/javascript" src="{{ static_url('js/submissions.js') }}"></script>
{% end %}

{% block Body %}
<div class="container-fluid" id="submissions-content">
    <table class="table table-bordered table-responsive">
        <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>User</th>
                    <th>Problem</th>
                    <th>Language</th>
                    <th>Status</th>
                    <th>Cpu</th>
                    <th>Memory</th>
                </tr>
        </thead>
        <tbody>
            {% for data in submissions %}
                <tr class="{% if data.message == 'ACCEPTED!' %}
                            accepted
                           {% else %}
                                {% if not (data.message == 'COMPILING' or data.message == 'EVALUATING') %}
                                 rejected
                           {% end %}
                           {% end %}">
                    <td>{{ data.submission.id }}</td>
                    <td>{{ data.submission.created_timestamp }}</td>
                    <td><a href="/user/{{ data.user.username }}">{{ data.user.username }}</a></td>
                    <td><a href="/problem/{{ data.problem.name }}">{{ data.problem.name }}</a></td>
                    <td>{{ data.submission.language }}</td>
                    <td><a href="/submission?id={{ data.submission.id }}">{{ data.message }}</a></td>
                    <td>{{ data.cpu }} {% if data.memory != "" %}s{% end %}</td>
                    <td> {{ data.memory }} {% if data.memory != "" %}KB{% end %}</td>
                </tr>
            {% end %}
        </tbody>
    </table>
</div>
{% end %}
