{% extends "base.html" %}
{% block Imports %}
<link rel="stylesheet" href="{{ static_url('css/submissions.css') }}" />
{% end %}

{% block Body %}
<div class="container-fluid" id="submissions-content">
    <div class="panel panel-primary">
        <div class="panel-heading filter-heading" data-toggle="collapse" data-target="#compilation-data">
            Compilation output
            <span class="glyphicon glyphicon-chevron-down"></span>
        </div>
        <div class="source-code" id="compilation-data">
            {% if not isinstance(testcases, list) and testcases.job.job_type == 'Compile' %}
                <p>{{ testcases.job.status_message }}</p>
            {% else %}
                {% if not isinstance(testcases, list) and testcases.job.status != 2 %}
                    <p>Submission is still compiling</p>
                {% else %}
                    <p>Compilation OK!</p>
                {% end %}
            {% end %}
        </div>
    </div>

    <table class="table table-bordered table-responsive">
        <thead>
                <tr>
                    <th>Codename</th>
                    <th>Status</th>
                    <th>Cpu</th>
                    <th>Memory</th>
                </tr>
            </thead>
            <tbody>
                {% if isinstance(testcases, list) %}
                {% for data in testcases %}
                    <tr class="{% if data.job.status_message == 'ACCEPTED!' %}accepted{% else %}rejected{% end %}">
                        <td>{{ data.testcase.codename }}</td>
                        <td>{{ data.job.status_message }}</td>
                        <td>{{ data.job.cpu }} s</td>
                        <td>{% if data.job.memory <= 0 %}Too small to measure{% else %}{{ data.job.memory }} KB {% end %}</td>
                    </tr>
                {% end %}
                {% end %}
            </tbody>
    </table>

    <div class="panel panel-default">
        <div class="panel-heading filter-heading" data-toggle="collapse" data-target="#source-code-data">
            Source code
            <span class="glyphicon glyphicon-chevron-down"></span>
        </div>
        <div class="source-code" id="source-code-data">
            <p>{{ submission.file.decode('utf8') }}</p>
        </div>
    </div>




    </div>
{% end %}
