{% extends "user.html" %}
{% block Imports %}
<link rel="stylesheet" href="{{ static_url('css/user_general.css') }}"/>
<link rel="stylesheet" href="{{ static_url('css/user_statistics.css') }}"/>
{% end %}

{% block Body %}
{% include fragments/navbar.html %}

<div class="container-fluid user_table">
    <h1 class="user_title">Statistics</h1>

    <!-- <div>
        <svg height="500" width="970">
            <g transform="translate(50,20)">
                <g pointer-events="none" clip-path="url(#chartClipPath1-1)">
                    <path fill="#F44336" stroke="none"
                          d="M0,-540.3543307086615L900,-540.3543307086615L900,227.36220472440945L0,227.36220472440945Z"></path>
                    <path fill="#FFC107" stroke="none"
                          d="M0,227.36220472440945L900,227.36220472440945L900,286.4173228346457L0,286.4173228346457Z"></path>
                    <path fill="#02B2E5" stroke="none"
                          d="M0,286.4173228346457L900,286.4173228346457L900,360.23622047244095L0,360.23622047244095Z"></path>
                    <path fill="#8BC34A" stroke="none"
                          d="M0,360.23622047244095L900,360.23622047244095L900,1231.2992125984251L0,1231.2992125984251Z"></path>
                </g>
                <g transform="translate(0,450)">
                    <g transform="translate(19.419235348591084,0)">
                        <line fill="#EEE" stroke="#EEE" y2="-450"></line>
                        <line fill="black" stroke="black" y2="6"></line>
                        <text font-size="15px" dy=".71em" text-anchor="middle" stroke-width="0.5" y="9"
                              style="-moz-user-select: none;">May
                        </text>
                    </g>
                    <g transform="translate(90.28575208360894,0)">
                        <line fill="#EEE" stroke="#EEE" y2="-450"></line>
                        <line fill="black" stroke="black" y2="6"></line>
                        <text font-size="15px" dy=".71em" text-anchor="middle" stroke-width="0.5" y="9"
                              style="-moz-user-select: none;">Jun
                        </text>
                    </g>
                    <g transform="translate(158.86625214975524,0)">
                        <line fill="#EEE" stroke="#EEE" y2="-450"></line>
                        <line fill="black" stroke="black" y2="6"></line>
                        <text font-size="15px" dy=".71em" text-anchor="middle" stroke-width="0.5" y="9"
                              style="-moz-user-select: none;">Jul
                        </text>
                    </g>
                    <g transform="translate(229.73276888477312,0)">
                        <line fill="#EEE" stroke="#EEE" y2="-450"></line>
                        <line fill="black" stroke="black" y2="6"></line>
                        <text font-size="15px" dy=".71em" text-anchor="middle" stroke-width="0.5" y="9"
                              style="-moz-user-select: none;">Aug
                        </text>
                    </g>
                    <g transform="translate(300.599285619791,0)">
                        <line fill="#EEE" stroke="#EEE" y2="-450"></line>
                        <line fill="black" stroke="black" y2="6"></line>
                        <text font-size="15px" dy=".71em" text-anchor="middle" stroke-width="0.5" y="9"
                              style="-moz-user-select: none;">Sep
                        </text>
                    </g>
                    <g transform="translate(369.1797856859373,0)">
                        <line fill="#EEE" stroke="#EEE" y2="-450"></line>
                        <line fill="black" stroke="black" y2="6"></line>
                        <text font-size="15px" dy=".71em" text-anchor="middle" stroke-width="0.5" y="9"
                              style="-moz-user-select: none;">Oct
                        </text>
                    </g>
                    <g transform="translate(440.1415531154915,0)">
                        <line fill="#EEE" stroke="#EEE" y2="-450"></line>
                        <line fill="black" stroke="black" y2="6"></line>
                        <text font-size="15px" dy=".71em" text-anchor="middle" stroke-width="0.5" y="9"
                              style="-moz-user-select: none;">Nov
                        </text>
                    </g>
                    <g transform="translate(508.7220531816378,0)">
                        <line fill="#EEE" stroke="#EEE" y2="-450"></line>
                        <line fill="black" stroke="black" y2="6"></line>
                        <text font-size="15px" dy=".71em" text-anchor="middle" stroke-width="0.5" y="9"
                              style="-moz-user-select: none;">Dec
                        </text>
                    </g>
                    <g transform="translate(579.5885699166556,0)">
                        <line fill="#EEE" stroke="#EEE" y2="-450"></line>
                        <line fill="black" stroke="black" y2="6"></line>
                        <text font-size="15px" dy=".71em" text-anchor="middle" stroke-width="0.5" y="9"
                              style="-moz-user-select: none;">2017
                        </text>
                    </g>
                    <g transform="translate(650.4550866516735,0)">
                        <line fill="#EEE" stroke="#EEE" y2="-450"></line>
                        <line fill="black" stroke="black" y2="6"></line>
                        <text font-size="15px" dy=".71em" text-anchor="middle" stroke-width="0.5" y="9"
                              style="-moz-user-select: none;">Feb
                        </text>
                    </g>
                    <g transform="translate(714.4635533800767,0)">
                        <line fill="#EEE" stroke="#EEE" y2="-450"></line>
                        <line fill="black" stroke="black" y2="6"></line>
                        <text font-size="15px" dy=".71em" text-anchor="middle" stroke-width="0.5" y="9"
                              style="-moz-user-select: none;">Mar
                        </text>
                    </g>
                    <g transform="translate(785.2348194205582,0)">
                        <line fill="#EEE" stroke="#EEE" y2="-450"></line>
                        <line fill="black" stroke="black" y2="6"></line>
                        <text font-size="15px" dy=".71em" text-anchor="middle" stroke-width="0.5" y="9"
                              style="-moz-user-select: none;">Apr
                        </text>
                    </g>
                    <g transform="translate(853.8153194867045,0)">
                        <line fill="#EEE" stroke="#EEE" y2="-450"></line>
                        <line fill="black" stroke="black" y2="6"></line>
                        <text font-size="15px" dy=".71em" text-anchor="middle" stroke-width="0.5" y="9"
                              style="-moz-user-select: none;">May
                        </text>
                    </g>
                    <line fill="black" stroke="black" x2="900"></line>
                </g>
                <g>
                    <g transform="translate(0,404.5275590551181)">
                        <line fill="#EEE" stroke="#EEE" x2="900"></line>
                        <text font-size="15px" dy=".35em" text-anchor="end" stroke-width="0.5" x="-9"
                              style="-moz-user-select: none;">1400
                        </text>
                        <line fill="black" stroke="black" x2="-6"></line>
                    </g>
                    <g transform="translate(0,286.4173228346457)">
                        <line fill="#EEE" stroke="#EEE" x2="900"></line>
                        <line fill="black" stroke="black" x2="-6"></line>
                        <text font-size="15px" dy=".35em" text-anchor="end" stroke-width="0.5" x="-9"
                              style="-moz-user-select: none;">1600
                        </text>
                    </g>
                    <g transform="translate(0,168.30708661417322)">
                        <line fill="#EEE" stroke="#EEE" x2="900"></line>
                        <line fill="black" stroke="black" x2="-6"></line>
                        <text font-size="15px" dy=".35em" text-anchor="end" stroke-width="0.5" x="-9"
                              style="-moz-user-select: none;">1800
                        </text>
                    </g>
                    <g transform="translate(0,50.19685039370074)">
                        <line fill="#EEE" stroke="#EEE" x2="900"></line>
                        <line fill="black" stroke="black" x2="-6"></line>
                        <text font-size="15px" dy=".35em" text-anchor="end" stroke-width="0.5" x="-9"
                              style="-moz-user-select: none;">2000
                        </text>
                    </g>
                    <line fill="black" stroke="black" y2="450"></line>
                </g>
                <rect height="450" width="900" opacity="0" style="cursor: move;"></rect>
                <path fill="none" stroke="#666" stroke-width="1.5"
                      d="M90,260.43307086614175L116.76544516470433,194.88188976377953L218.0645588040746,166.53543307086613L242.68686334171187,137.00787401574803L430.6641090091282,121.06299212598424L533.1062309829342,99.21259842519686L677.7920359835957,89.17322834645671L757.4216166159545,75L810,79.7244094488189"
                      clip-path="url(#chartClipPath1-1)"></path>
                <g clip-path="url(#chartClipPath1-1)">
                    <circle fill="white" stroke-width="2" stroke="#666" cx="0" cy="0"
                            transform="translate(90,260.43307086614175)" r="5" style="cursor: pointer;"></circle>
                    <circle fill="white" stroke-width="2" stroke="#666" cx="0" cy="0"
                            transform="translate(116.76544516470433,194.88188976377953)" r="5"
                            style="cursor: pointer;"></circle>
                    <circle fill="white" stroke-width="2" stroke="#666" cx="0" cy="0"
                            transform="translate(218.0645588040746,166.53543307086613)" r="5"
                            style="cursor: pointer;"></circle>
                    <circle fill="white" stroke-width="2" stroke="#666" cx="0" cy="0"
                            transform="translate(242.68686334171187,137.00787401574803)" r="5"
                            style="cursor: pointer;"></circle>
                    <circle fill="white" stroke-width="2" stroke="#666" cx="0" cy="0"
                            transform="translate(430.6641090091282,121.06299212598424)" r="5"
                            style="cursor: pointer;"></circle>
                    <circle fill="white" stroke-width="2" stroke="#666" cx="0" cy="0"
                            transform="translate(533.1062309829342,99.21259842519686)" r="5"
                            style="cursor: pointer;"></circle>
                    <circle fill="white" stroke-width="2" stroke="#666" cx="0" cy="0"
                            transform="translate(677.7920359835957,89.17322834645671)" r="5"
                            style="cursor: pointer;"></circle>
                    <circle fill="white" stroke-width="2" stroke="#666" cx="0" cy="0"
                            transform="translate(757.4216166159545,75)" r="5" style="cursor: pointer;"></circle>
                    <circle fill="white" stroke-width="2" stroke="#666" cx="0" cy="0"
                            transform="translate(810,79.7244094488189)" r="5" style="cursor: pointer;"></circle>
                </g>
                <defs>
                    <clipPath id="chartClipPath1-1">
                        <rect width="900" height="450"></rect>
                    </clipPath>
                </defs>
            </g>
        </svg>

    </div> -->

    <!--<div>
        <svg width="800" height="500" xmlns="http://www.w3.org/2000/svg">
            <g>
                <title>Layer 1</title>
                <rect id="svg_1" height="300" width="550" y="100" x="100" stroke-width="0" stroke="#000"
                      fill="#ff0000"/>
                <rect id="svg_2" height="200" width="550" y="200" x="100" stroke-opacity="null" stroke-width="0"
                      stroke="#000" fill="#ff7f00"/>
                <rect id="svg_3" height="140" width="550" y="260" x="100" stroke-opacity="null" stroke-width="0"
                      stroke="#000" fill="#5656ff"/>
                <rect id="svg_4" height="90" width="550" y="320" x="100" stroke-opacity="null" stroke-width="0"
                      stroke="#000" fill="#00bf00"/>
                <line stroke-linecap="null" stroke-linejoin="null" id="svg_5" y2="150" x2="650" y1="150" x1="100"
                      stroke="#000" fill="white"/>
                <line stroke-linecap="null" stroke-linejoin="null" id="svg_5" y2="200" x2="650" y1="200" x1="100"
                      fill-opacity="null" stroke-opacity="null" stroke="#000" fill="none"/>
                <line stroke-linecap="null" stroke-linejoin="null" id="svg_5" y2="250" x2="650" y1="250" x1="100"
                      fill-opacity="null" stroke-opacity="null" stroke="#000" fill="none"/>
                <line stroke-linecap="null" stroke-linejoin="null" id="svg_5" y2="300" x2="650" y1="300" x1="100"
                      fill-opacity="null" stroke-opacity="null" stroke="#000" fill="none"/>
                <line stroke-linecap="null" stroke-linejoin="null" id="svg_5" y2="350" x2="650" y1="350" x1="100"
                      fill-opacity="null" stroke-opacity="null" stroke="#000" fill="none"/>
                <line stroke-linecap="null" stroke-linejoin="null" id="svg_5" y2="400" x2="650" y1="400" x1="100"
                      fill-opacity="null" stroke-opacity="null" stroke="#000" fill="none"/>
                <line stroke-linecap="null" stroke-linejoin="null" id="svg_5" y2="410" x2="150" y1="100" x1="150"
                      fill-opacity="null" stroke-opacity="null" stroke="#000" fill="none"/>
                <line stroke-linecap="null" stroke-linejoin="null" id="svg_5" y2="410" x2="200" y1="100" x1="200"
                      fill-opacity="null" stroke-opacity="null" stroke="#000" fill="none"/>
                <line stroke-linecap="null" stroke-linejoin="null" id="svg_5" y2="410" x2="250" y1="100" x1="250"
                      fill-opacity="null" stroke-opacity="null" stroke="#000" fill="none"/>
                <line stroke-linecap="null" stroke-linejoin="null" id="svg_5" y2="410" x2="300" y1="100" x1="300"
                      fill-opacity="null" stroke-opacity="null" stroke="#000" fill="none"/>
                <line stroke-linecap="null" stroke-linejoin="null" id="svg_5" y2="410" x2="350" y1="100" x1="350"
                      fill-opacity="null" stroke-opacity="null" stroke="#000" fill="none"/>
                <line stroke-linecap="null" stroke-linejoin="null" id="svg_5" y2="410" x2="400" y1="100" x1="400"
                      fill-opacity="null" stroke-opacity="null" stroke="#000" fill="none"/>
                <line stroke-linecap="null" stroke-linejoin="null" id="svg_5" y2="410" x2="450" y1="100" x1="450"
                      fill-opacity="null" stroke-opacity="null" stroke="#000" fill="none"/>
                <line stroke-linecap="null" stroke-linejoin="null" id="svg_5" y2="410" x2="500" y1="100" x1="500"
                      fill-opacity="null" stroke-opacity="null" stroke="#000" fill="none"/>
                <line stroke-linecap="null" stroke-linejoin="null" id="svg_5" y2="410" x2="550" y1="100" x1="550"
                      fill-opacity="null" stroke-opacity="null" stroke="#000" fill="none"/>
                <line stroke-linecap="null" stroke-linejoin="null" id="svg_5" y2="410" x2="600" y1="100" x1="600"
                      fill-opacity="null" stroke-opacity="null" stroke="#000" fill="none"/>
            </g>
        </svg>
    </div> -->

</div>

{% end %}

