{
	"__help__": "Driver to use to connect to the database. This is a required field.",
	"database_driver":"postgres+psycopg2",

	"__help__": "User owning the database. Leave empty for sys.",
	"database_user": "user",

	"__help__": "Password for the specified user. Leave empty for no password.",
	"database_password": "password",

	"__help__": "Database hostname. Leave empty for default host localhost.",
	"database_host": "",

	"__help__": "Database port. Leave empty for default port 5432.",
	"database_port": "",

	"__help__": "Database name. Leave empty to use default name database.",
	"database_name": "db",

	"__help__": "Custom connection string. Leave empty if not needed.",
	"custom_connection_string": ""
}
