<!DOCTYPE html>
<html>
  <head>
    <title>MLC! MLC! MLC!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="{{ static_url('js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/sidebar.js') }}"></script>
      <script type="text/javascript" src="{{ static_url('js/jquery-ui.min.js') }}"></script>
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/base.css') }}"/>
      <link rel="stylesheet" href="{{ static_url('css/jquery-ui.min.css') }}"/>
      {% block Imports %}
      {% end %}
  </head>

<body>
	<main class="container-fluid">
        {% if current_user is not None %}
        <div class="row" style="height:55px;"> <!-- TO DO: create custom class instead of style -->
                {% include fragments/navbar.html %}
        </div>
        {% end %}
        <div class="row">
            {% if current_user is not None %}
                {% include fragments/sidebar.html %}
            {% end %}
            <div class="conteudo container-fluid main-content">
    			{% block Body %}
                {% end %}
		    </div>
        </div>
	</main>
</html>
