{% extends "base.html" %}
{% block Imports %}
<link rel="stylesheet" href="{{ static_url('css/contest.css') }}"/>
{% end %}

{% block SidebarItems %}
<li class="sidebar-label">General</li>
<li class="sidebar-item unique">
    <a href="#">Settings</a>
</li>
<li class="sidebar-item unique">
    <a href="#">Announcements</a>
</li>
<li class="sidebar-item unique">
    <a href="#">Questions</a>
</li>

<li class="sidebar-label">Data</li>
<li class="sidebar-item unique">
    <a href="#">Ranking</a>
</li>

<li class="sidebar-item unique">
    <a href="#">Problems</a>
</li>

<li class="sidebar-item unique">
    <a href="#">Submissions</a>
</li>

<li class="sidebar-item unique">
    <a href="#">User tests</a>
</li>

<li class="sidebar-item unique">
    <a href="#">Users</a>
</li>
{% end %}

{% block Body %}

{% end %}
