{% extends "base.html" %}
{% block Imports %}
<link rel="stylesheet" href="{{ static_url('css/contest.css') }}"/>
<script type="text/javascript" src="{{ static_url('js/contest.js') }}"></script>
{% end %}

{% block SidebarItems %}
<li class="sidebar-label">General</li>
<li class="sidebar-item unique {% if last_path == 'settings' %} active{% end %}">
    <a href="./settings">Settings</a>
</li>
<li class="sidebar-item unique {% if last_path == 'announcements' %} active{% end %}">
    <a href="./announcements">Announcements</a>
</li>
<li class="sidebar-item unique {% if last_path == 'questions' %} active{% end %}">
    <a href="./questions">Questions</a>
</li>

<li class="sidebar-label">Data</li>
<li class="sidebar-item unique {% if last_path == 'ranking' %} active{% end %}">
    <a href="#">Ranking</a>
</li>

<li class="sidebar-item unique {% if last_path == 'problems' %} active{% end %}">
    <a href="./problems">Problems</a>
</li>

<li class="sidebar-item unique {% if last_path == 'submissions' %} active{% end %}">
    <a href="./submissions">Submissions</a>
</li>

<li class="sidebar-item unique {% if last_path == 'user_tests' %} active{% end %}">
    <a href="./user_tests">User tests</a>
</li>

<li class="sidebar-item unique">
    <a href="#">Users</a>
</li>
{% end %}

{% block Body %}

{% end %}
