{% extends "contests.html" %}

{% block Body %}
<div class="container">
    <div class="row">
        <h2>Create a new contest</h2>
        <hr />
    </div>

    <div class="row">
        <form method="POST" action="/" class="form-inline">
            <label for="name">Contest name: </label>
            <input id="name" type="text" class="form-control input-sm contest-create-input-custom">
            <hr />
            <input type="submit" class="form-control">
        </form>
    </div>
</div>

{% end %}