{% extends "contest.html" %}

{% block Body %}
<div class="container">
    <div class="row">
        <h2>Task list for contest</h2>
        <br />
    </div>

    <table class="table table-filter">
        <thead>
            <tr>
                <th>Name</th>
                <th>Title</th>
                <th>Score</th>
                <th>Statistics</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Oua Pascale</td>
                <td>Oua</td>
                <td>2100.0</td>
                <td>21.5%</td>
                <td>
                    <button class="btn btn-primary">Edit</button>
                    <button class="btn btn-danger">Remove</button>
                </td>
            </tr>
            <tr>
                <td>Tribonacci Heap</td>
                <td>Heap</td>
                <td>4500.0</td>
                <td>0.5%</td>
                <td>
                    <button class="btn btn-primary">Edit</button>
                    <button class="btn btn-danger">Remove</button>
                </td>
            </tr>
            <tr>
                <td>Treaps</td>
                <td>Treaps</td>
                <td>15.0</td>
                <td>67.2%</td>
                <td>
                    <button class="btn btn-primary">Edit</button>
                    <button class="btn btn-danger">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>

{% end %}