{% extends "base.html" %}
{% block Imports %}
<link rel="stylesheet" href="{{ static_url('css/main.css') }}"/>
{% end %}

{% block SidebarItems %}
<li class="sidebar-label">Main</li>
    <li class="sidebar-item">
        <a href="#" class="icon-trophy">Contests</a>
        <ul>
            <li><a href="/contest/FIICode/">FIICode</a></li>
            <li><a href="/contest/Mindcoding/">Mindcoding</a></li>
            <li><a href="#">Show all</a></li>
            <li><a href="#">Create new contest</a></li>
        </ul>
    </li>
    <li class="sidebar-item">
        <a href="#">Problems</a>
        <ul>
            <li><a href="#">LgDiv</a></li>
            <li><a href="#">Oua Pascale</a></li>
            <li><a href="#">Show all</a></li>
            <li><a href="/create/problem">Create new problem</a></li>
        </ul>
    </li>
    <li class="sidebar-item">
        <a href="#">Users</a>
        <ul>
            <li><a href="/user/valiro21/settings">valiro21</a></li>
            <li><a href="/user/mlc/settings">mlc</a></li>
            <li><a href="#">Show all</a></li>
            <li><a href="#">Create new user</a></li>
        </ul>
    </li>
    <li class="sidebar-item">
        <a href="#">Notifications</a>
    </li>
{% end %}

{% block Body %}

{% end %}
