{% extends "base.html" %}

{% block Imports %}
    <script type="text/javascript" src="{{ static_url('js/problem_edit.js') }}"></script>
{% end %}

{% block Body %}
<div class="container">
    <form method="POST" action="problem">
        <div class="row">
            <h2>Edit problem {{ problem.name }}</h2>
            <hr />
        </div>

        <div class="row"><h4 class="subtitle">General information</h4></div>

        <br />
        <div class="row">
            <div class="col-lg-3 helper-text">
                <p>Name</p>
            </div>
            <div class="col-lg-3">
                <p> {{ problem.name }}</p>
            </div>
            <div class="col-lg-3">
                <input type="text" class="form-control input-sm" id="name">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 helper-text">
                <p>Description</p>
            </div>
            <div class="col-lg-3">
                <p> {{ problem.description }}</p>
            </div>
            <div class="col-lg-3">
                <input type="text" class="form-control input-sm" id="description">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 helper-text">
                <p>Statements</p>
            </div>
            <div class="col-lg-3">

                {% if problem.statements != None %}
                <ul class="list-group">
                    {% for i in range(len(problem.statements)) %}
                        <li class="list-group-item">
                            <a href="#">{{ problem.statement_names[i] }}</a>
                        </li>
                    {% end %}
                </ul>
                {% end %}

                <input type="file" class="form-control input-sm" id="statement">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 helper-text">
                <p>Attachments</p>
            </div>
            <div class="col-lg-3">

                {% if problem.attachments != None %}
                <ul class="list-group">
                    {% for i in range(len(problem.attachments)) %}
                        <li class="list-group-item"> {{ problem.attachment_names }} </li>
                    {% end %}
                </ul>
                {% end %}
                <input type="file" class="form-control input-sm" id="attachment">
            </div>
        </div>
    </form>

        <!-- Datasets -->
        <div class="row"><h2 class="subtitle">Datasets</h2></div>

        <hr/>

        <div id="error-container" class="alert-danger hidden">
            <span id="error-message"></span>
        </div>

        <div id="success-container" class="alert-success hidden">
            <span id="success-message"></span>
        </div>

        <div class="row">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Dataset name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% if problem.datasets != None %}
                    {% for dataset in problem.datasets %}
                        <tr id="dataset-row-{{ dataset.id }}">
                            <td> {{ dataset.name }} </td>
                            <td>
                                <button type="button"
                                        class="btn btn-warning"
                                        id="edit-dataset-{{ dataset.id }}"
                                        onclick="loadEditModal({{ dataset.id }})"
                                        >Edit</button>
                            </td>
                            <td>
                                <button type="button"
                                        class="btn btn-danger"
                                        id="delete-dataset-{{ dataset.id }}"
                                        onclick="deleteDataset({{ dataset.id }})"
                                >Delete</button>
                            </td>
                        </tr>
                    {% end %}
                    {% end %}

                    <tr>
                        <td>
                            <a href="#" data-target="#new-dataset-modal" data-toggle="modal">Add new dataset...</a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

        <!-- New dataset modal -->
        <div class="modal fade" id="new-dataset-modal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- Modal title -->
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add new dataset</h4>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">

                        {# Intentional fucked up indenting #}

<form enctype="multipart/form-data" action="/dataset/create" method="post">

    <input type="number" class="hidden" value="{{ problem.id }}" name="problem-id" id="new-dataset-problem-id"/>

    <div class="row">
        <label for="name" class="col-lg-3 helper-text">Name</label>
        <div class="col-lg-3">
            <input type="text" class="form-control input-sm" id="name" name="name">
        </div>
    </div>

    <div class="row">
        <label for="time-limit" class="col-lg-3 helper-text">Time limit</label>
        <div class="col-lg-3">
            <input type="text" class="form-control input-sm" name="time-limit" id="time-limit">
        </div>
    </div>


    <div class="row">
        <label for="memory-limit" class="col-lg-3 helper-text">Memory limit</label>
        <div class="col-lg-3">
            <input type="text" class="form-control input-sm" name="memory-limit" id="memory-limit">
        </div>
    </div>

    <div class="row">
        <label for="max-score" class="col-lg-3 helper-text">Max score</label>
        <div class="col-lg-3">
            <input type="number" class="form-control input-sm" id="max-score" name="max-score">
        </div>
    </div>

    <div class="row">
        <label for="testcases" class="col-lg-3 helper-text">Test cases</label>
        <input type="file" class="col-lg-3 form-control input-sm" id="testcases" name="testcases">
        <div class="helper-text">
            Add a zip file, that contains matching *.in and *.ok files.
        </div>
    </div>

    <input type="submit" class="btn btn-primary" value="Submit" />
</form>


                        {# Intentional fucked up indenting end #}
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


{#            <div class="row"><h4 class="subtitle">Testcases</h4></div>#}
{##}
{#            <div class="row">#}
{#                <div class="col-lg-3">#}
{#                    <table class="table table-bordered">#}
{#                        <thead>#}
{#                            <tr>#}
{#                                <th>#</th>#}
{#                                <th>Public</th>#}
{#                                <th>Input</th>#}
{#                                <th>Output</th>#}
{#                            </tr>#}
{#                        </thead>#}
{#                        <tbody>#}
{#                            {% if dataset.testcases != None %}#}
{#                            {% for testcase in dataset.testcases %}#}
{#                                <tr>#}
{#                                    <td>{{ testcase.id }}</td>#}
{#                                    <td class="text-center">#}
{#                                        <label><input type="checkbox" value="public_{{ testcase.id }}" {{ "checked" if testcase.public else "" }}></label>#}
{#                                    </td>#}
{#                                    <td>#}
{#                                        <a href="#">input</a>#}
{#                                    </td>#}
{#                                    <td>#}
{#                                        <a href="#">output</a>#}
{#                                    </td>#}
{#                                </tr>#}
{#                            {% end %}#}
{#                            {% end %}#}
{#                        </tbody>#}
{#                    </table>#}
{#                </div>#}
{#            </div>#}

            <hr />

</div>

{% end %}