{% extends "main.html" %}

{% block Body %}
<div class="container">
    <div class="row">
        <h2>Problems list</h2>
        <br />
    </div>

    {% include "fragments/problems_rows.html" %}

    <div class="row">
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <label for="problem">Create problem</label>
                    <input type="text" class="form-control" id="problem" placeholder="Enter problem name">
                </div>
            </form>
        </div>
    </div>
</div>

{% end %}