{% extends "main.html" %}

{% block Body %}
<div class="container">
    <div class="row">
        <h2>Create a new problem</h2>
        <hr />
    </div>

    <div class="row">
        <form method="POST" action="/" class="form-inline">
            <label for="name">Problem name: </label>
            <input id="name" type="text" class="form-control input-sm" style="margin-left: 20px;">
            <hr />
            <input type="submit" class="form-control">
        </form>
    </div>
</div>

{% end %}