{% extends "main.html" %}

{% block Imports %}
<link rel="stylesheet" href="{{ static_url("css/settings.css") }}"/>
{% end %}

{% block Body %}
<div class="container">
    <form method="POST" action="/login" >
      <div class="row">
          <h2>System settings</h2>
          <hr />
      </div>

        <div class="row row-centered">
            <div class="col-lg-4">
                <p>Archive settings</p>
            </div>
            <div class="col-lg-2">
                <select class="form-control" id="archive">
                    <option>Public</option>
                    <option>Private</option>
                    <option>Disabled</option>
                </select>
            </div>
      </div>
    </form>
</div>
{% end %}