{% extends "base.html" %}

{% block Body %}
<form method="POST" action="/login" >
    <div class="checkbox">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
            <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Public</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Private(only for users)</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Disabled</a></li>s
            </ul>
        </div>
    </div>
</form>
{% end %}