{% extends "main.html" %}
{% block Imports %}
<!--
 <link rel="stylesheet" href="{{ static_url('css/user_settings.css') }}"/>
-->
{% end %}

{% block Body %}

{% include fragments/user_rows.html %}

{% end %}

{% block Modals %}
<!-- User Creation Form Modal -->

<div id="createUserModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p>Create a new User:</p>
            </div>
            <div class="modal-body">
                <form role="form" action="/create_user" method="POST" id="create-user-form">
                    <div class="row">
                        <div class="form-group">
                            <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <input type="text" name="username" id="username" class="form-control input-sm" placeholder="Username">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password">
                        </div>
                    </div>
                    <input type="submit" value="REGISTER" class="btn btn-info btn-block" id="btn-submit">
                </form>
            </div>
            <div class="modal-footer" id="error">
            </div>
        </div>
    </div>
</div>


<div id="editUserModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p>Edit user:</p>
            </div>
            <div class="modal-body">
                <form role="form" action="/edit_user" method="POST" id="edit-user-form">
                    <div class="row">
                        <div class="form-group">
                            <select class="form-control" id="username" name="username">
                                {% for user in users %}
                                    <option>{{ user[1] }}</option>
                                {% end %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="New first name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="New last name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <input type="email" name="email" id="email" class="form-control input-sm" placeholder="New Email Address">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <input type="password" name="password" id="password" class="form-control input-sm" placeholder="New Password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password">
                        </div>
                    </div>
                    <input type="submit" value="EDIT" class="btn btn-info btn-block" id="btn-submit">
                </form>
            </div>
            <div class="modal-footer" id="error">
            </div>
        </div>
    </div>
</div>
{% end %}