.container{
    padding-top:100px;
}

.blog-posts{

}

.side-info{

 
    text-align: center;
}


#post-title a {
    font-size: 24px;
}

#info span{
}

#post-content {
    font-size: 18px;
}

.side-box{
    width: 90%;
    float: none;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #222222;
    border-radius: 5px;
    margin-bottom: 15px;
  }

.side-box p{
    padding-top: 10px;
    color: #66ABD8;
    font-size: 24px;
}


.side-box .contest{
    border-top-style: solid;
    border-width: 1px;
    font-size: 14px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

table.rtable{
    width:100%;
}

table.rtable th{
    text-align: center;
}
