.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.editor > .panel-body {
    padding-left: 0;
    padding-top: 0;
}