#submissions-content{
    padding: 50px 3em 0px 3em;
}

table, th{
    text-align:center;
}

.accepted{
    background-color: #BDFF7C;
}

.rejected{
    background-color: #FF8279;
}

td a {
    display:block;
    width:100%;
    text-decoration: underline;
}
