<table class="table table-responsive table-filter">
    <thead>
    <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
        <th>Create problem</th>
        <th>Create contest</th>
        <th>Add user</th>
        <th>Add admin</th>
        <th>Delete user</th>
        <th>Delete admin</th>
        <th>GOD PERMISSIONS</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>valiro21</td>
        <td>Valentin Rosca</td>
        <td>rosca.valentin2012@gmail.com</td>
        <td>
            <!-- Min width is to prevent buttons from going on different lines in low resolutions -->
            <div style="min-width: 125px">
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </div>
        </td>

        <td class="text-center"><label><input type="checkbox" value=""></label></td>
        <td class="text-center"><label><input type="checkbox" value=""></label></td>
        <td class="text-center"><label><input type="checkbox" value=""></label></td>
        <td class="text-center"><label><input type="checkbox" value=""></label></td>
        <td class="text-center"><label><input type="checkbox" value=""></label></td>
        <td class="text-center"><label><input type="checkbox" value=""></label></td>
        <td class="text-center"><label><input type="checkbox" value=""></label></td>
    </tr>
    <tr>
        <td>TheDesertFoxM</td>
        <td>Miron Alexandru</td>
        <td>mironalex96@gmail.com</td>

        <td>
            <button class="btn btn-primary">Edit</button>
            <button class="btn btn-danger">Delete</button>
        </td>

        <td class="text-center"><label><input type="checkbox" value=""></label></td>
        <td class="text-center"><label><input type="checkbox" value=""></label></td>
        <td class="text-center"><label><input type="checkbox" value=""></label></td>
        <td class="text-center"><label><input type="checkbox" value=""></label></td>
        <td class="text-center"><label><input type="checkbox" value=""></label></td>
        <td class="text-center"><label><input type="checkbox" value=""></label></td>
        <td class="text-center"><label><input type="checkbox" value=""></label></td>
    </tr>
    </tbody>
</table>