<table class="table table-responsive table-filter">
    <thead>
        <tr>
            <th>Name</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Evaluation Average</th>
            <th>Difficulty Range</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>FIICode</td>
            <td>2017-04-24 08:26:13</td>
            <td>2017-04-24 16:26:15</td>
            <td>2.5s</td>
            <td>2-4</td>
            <td>running</td>
            <td>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Archive</button>
            </td>
        </tr>
        <tr>
            <td>Mindcoding</td>
            <td>2017-04-14 08:21:22</td>
            <td>2017-04-14 11:21:56</td>
            <td>5.5s</td>
            <td>1-2</td>
            <td>finished</td>
            <td>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Archive</button>
            </td>
        </tr>
    </tbody>
</table>