<table class="table table-filter table-responsive table-sort">
    <thead>
    <tr>
        <th>Name</th>
        <th>Difficulty</th>
        <th>Task type</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    {% for problem in problems %}
    <tr>
        <td>{{ problem.name }}</td>
        <td>{{ problem.difficulty }}</td>
        <td>{{ problem.task_type }}</td>
        <td>
            <button class="btn btn-primary">Edit</button>
            <button class="btn btn-danger">Remove</button>
        </td>
    </tr>
    {% end %}

    </tbody>
</table>