<table class="table table-filter table-responsive table-sort">
    <thead>
    <tr>
        <th>Name</th>
        <th>Difficulty</th>
        <th>Task type</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    {% for problem in problems %}
    <tr id="problem-row-{{ problem.id }}">
        <td>{{ problem.name }}</td>
        <td>{{ problem.difficulty }}</td>
        <td>{{ problem.task_type }}</td>
        <td>
            <a href="/problem/edit?name={{ problem.name }}" class="btn btn-primary">Edit</a>
            <button class="btn btn-danger" onclick="removeProblemFromContest({{ problem.id }})">Remove</button>
        </td>
    </tr>
    {% end %}

    </tbody>
</table>