<!-- Sidebar -->
<div class="column col-sm-3 col-xs-1 sidebar-offcanvas" id="sidebar">
    <ul class="nav" id="menu">
        <li><a href="#"><i class="fa fa-trophy"></i> <span class="collapse in hidden-xs">Contests</span></a></li>
        <li><a href="#"><i class="glyphicon glyphicon-list-alt"></i> <span class="collapse in hidden-xs">Problems</span></a></li>
        <li><a href="#"><i class="glyphicon glyphicon-user"></i> <span class="collapse in hidden-xs">Users</span></a></li>
        <li><a href="#"><i class="glyphicon glyphicon-blackboard"></i> <span class="collapse in hidden-xs">Evaluation Monitor</span></a></li>
        <!--<li>
            <a href="#" data-target="#item1" data-toggle="collapse"><i class="fa fa-list"></i> <span class="collapse in hidden-xs">Menu <span class="caret"></span></span></a>
            <ul class="nav nav-stacked collapse left-submenu" id="item1">
                <li><a href="google.com">View One</a></li>
                <li><a href="ranking.com">View Two</a></li>
            </ul>
        </li> -->
    </ul>
</div>