<table class="table table-responsive table-filter">
    <thead>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Oua Pascale</th>
            <th>Treaps</th>
            <th>Tribonacci Heap</th>
            <th>Penalty</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>valiro21</td>
            <td>Valentin Rosca</td>
            <td>Oua Pascale</td>
            <td>1600.0</td>
            <td> - </td>
            <td>15.0</td>
        </tr>
        <tr>
            <td>TheDesertFoxM</td>
            <td>Miron Alexandru</td>
            <td>Oua Pascale</td>
            <td>1000.0</td>
            <td> - </td>
            <td>0.0</td>
        </tr>
    </tbody>
</table>