<table class="table table-responsive table-filter">
    <thead>
    <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Email</th>
        <th>Rating</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>valiro21</td>
        <td>Valentin Rosca</td>
        <td>rosca.valentin2012@gmail.com</td>
        <td>1780</td>
        <td>
            <button class="btn btn-primary">Edit</button>
        </td>
    </tr>
    <tr>
        <td>TheDesertFoxM</td>
        <td>Miron Alexandru</td>
        <td>mironalex96@gmail.com</td>
        <td>1445</td>
        <td>
            <button class="btn btn-primary">Edit</button>
        </td>
    </tr>
    </tbody>
</table>